body {
    background-color: lightblue;
    font-family: arial;
    margin: 16px;
}

.main-header {grid-area: header;}
.main-nav {grid-area: nav;}
.main-content {grid-area: content;}

.wrapper {
    max-width: 1050px;
    margin: 0 auto;
    display: grid;
    grid-template-areas:
        "header"
        "nav"
        "content"
}

@media (min-width: 500px) {
    .wrapper {
        grid-template-columns: 1fr 2fr;
        grid-template-areas: 
            "header header"
            "nav nav"
            "content content"
    }
}

@media (min-width: 700px) {
    .wrapper {
        grid-template-columns: 1fr 4fr 1fr;
        grid-template-areas:
            "header header header"
            "nav content content"
            "nav content content"
    }
    nav {
        margin-right: 20px;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    form input {
        width: 100px;
    }   
}

nav {
    border: 5px solid lightseagreen;
    background-color: lightslategrey;
}

nav div {
    display: flex;
    justify-content: center;
    height: 100px;
}

form {
    align-self: center;
    margin-right: 5%;   
}

form input {
    height: 25px;
}

nav button {
    margin-left: 0px;
    height: 30px;
    width: 100px;
    font-size: 16px;
}

/*
Below is for reference in case I mess up...
*/

/* body {
    background-color: lightblue;
    font-family: arial;
    margin: 16px;
}

.main-header {grid-area: header;}
.main-nav {grid-area: nav;}
.main-content {grid-area: content;}

.wrapper {
    max-width: 1050px;
    margin: 0 auto;
    display: grid;
    grid-template-areas:
        "header"
        "nav"
        "content"
}

@media (min-width: 500px) {
    .wrapper {
        grid-template-columns: 1fr 2fr;
        grid-template-areas: 
            "header header"
            "nav nav"
            "content content"
    }
}

@media (min-width: 700px) {
    .wrapper {
        grid-template-columns: 1fr 4fr 1fr;
        grid-template-areas:
            "header header header"
            "nav content content"
            "nav content content"
    }
    nav {
        margin-right: 20px;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    form input {
        width: 100px;
    }   
}

h1, h3 {
    font-family: Impact;
    letter-spacing: 2px;
    color: lightseagreen;
    font-size: 25px;
}

h1 {
    font-size: 80px;
    margin-top: -4px; 
}

nav {
    border: 5px solid lightseagreen;
    background-color: lightslategrey;
}

header div {
    display: flex;
    justify-content: space-evenly;
    background-color: lightyellow;
    height: 100px;
    padding: 20px;
    text-align: center;
    margin-bottom: 30px;
}

nav div {
    display: flex;
    justify-content: center;
    height: 100px;
}

form {
    align-self: center;
    margin-right: 5%;   
}

form input {
    height: 25px;
}

nav button {
    margin-left: 0px;
    height: 30px;
    width: 100px;
    font-size: 16px;
}

nav select {
    height: 30px;
    width: 100px;
    align-self: center;
}

ul {
    padding: 0;
}

li {
    background-color: lightyellow;
    list-style: none;
    display: inline-block;
    margin: 16px;
    margin-left: 0;
    border-radius: 5%;
    text-align: center;
    border: 5px solid lightslategrey;
}

li img {
    max-width: 225px;
}

li p {
    font-size: 16px;
} */